<div class="container">
	<%= render partial: 'shared/leftnav' %>
	<%= render partial: 'new' %>
</div>

	<div id = "cloud"><span class='shadow'></span>
		<% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>
	
		<% @articles.each do |article| %>
			<div class = "article_bookmarks">
				<ul>	
					<li>Title: <%= article.title %></li>
					<li>Author: <%= article.author %></li>
					<li>Date: <%= article.date_published %></li>
					<!-- <li>Url: <%= article.url %></li> -->
					<li>Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
				</ul>
			</div>	
		<% end %>
	


