<div class="container">
	<%= render partial: 'shared/leftnav' %>
	<%= render partial: 'new' %>
</div>

	<div id = "cloud"><span class='shadow'></span>
		<% tag_cloud Article.tag_counts, %w[s m l] do |tag, css_class| %>
			<%= link_to tag.name, tag_path(tag.name), class: css_class %>
		<% end %>
	</div>
		<div class="board">
		<% @articles.each do |article| %>
			<div class = "article_bookmarks">
				<ul>
					<span class="delete"><%= link_to 'X', user_article_path(current_user, article), method: :delete, remote: true %>
					</span>	
					<li id='bookmark_image'><%= link_to image_tag(article.image_url), article.url, :target => "_blank" %></li>
					<li>Title: <%= best_in_place [current_user, article], :title, as: :input %></li>
					<li>Author: <%= best_in_place [current_user, article], :author, as: :input %></li>
					<li>Date: <%= best_in_place [current_user, article], :date_published, as: :input %></li>
					<li>Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></li>
					<li>Add Tags Here => <%= best_in_place [current_user, article], :tag_list, as: :input%></li>
				</ul>
			</div>	
		<% end %>
		</div>


